---
category:
    shop_by_price: true
    products:
        limit: {{theme_settings.categorypage_products_per_page}}
---
{{inject "categoryProductsPerPage" theme_settings.categorypage_products_per_page}}
{{#partial "head"}}
    {{#if pagination.category.previous}}
        <link rel="prev" href="{{pagination.category.previous}}">
    {{/if}}
    {{#if pagination.category.next}}
        <link rel="next" href="{{pagination.category.next}}">
    {{/if}}
{{/partial}}

{{#partial "page"}}

    <div class="category-header">
        <div class="category-image">
            {{#if category.image}}
            {{> components/common/responsive-img
                image=category.image
                fallback_size=theme_settings.zoom_size
                lazyload=theme_settings.lazyload_mode
                class="category-header-image"
            }}
        {{/if}}
        </div>
        <div class="category-text-overlay">
            {{#unless theme_settings.hide_category_page_heading }}
            <h1 class="page-heading">{{category.name}}</h1>
            {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
            
        {{/unless}}
        
    </div>

    <div class="category-description">
        {{{category.description}}}
    </div>
    {{{region name="category_below_header"}}}
    </div>

    {{> components/custom/categories-simple}}

<div class="page">
    {{> components/custom/category-filters-desktop }}

    <div class="page-content" id="product-listing-container">
        {{> components/category/product-listing}}
        
        {{{region name="category_below_content"}}}
    
        

    </div>
</div>



{{/partial}}
{{> layout/base}}

<script>
    let isCategory = false;
    if ("{{page_type}}" === "category") isCategory = true;

    if (isCategory) {
        const facetsContainer = document.querySelector(".faceted-search-container");
        const filtersButton = document.querySelector(".snackbar .scc-button");
        const snackbar = document.querySelector(".snackbar");
        filtersButton.addEventListener("click", function(e) {
            e.preventDefault();
            facetsContainer.classList.toggle("facets-open");
        })
    }
</script>

<!-- ECI : START – Google DRC code - Standard Event - For Category pages -->
<script>
    gtag('event', 'page_view', {
        'send_to': 'AW-863988378',
        'ecomm_pagetype': "category"
    });
</script>
<!-- ECI: END - Google DRC code - Standard Event - For Category pages -->