---
products:
  new:
    limit: { { theme_settings.homepage_new_products_count } }
  featured:
    limit: { { theme_settings.homepage_featured_products_count } }
  top_sellers:
    limit: { { theme_settings.homepage_top_products_count } }
carousel: { { theme_settings.homepage_show_carousel } }
blog:
  recent_posts:
    limit: { { theme_settings.homepage_blog_posts_count } }
---

{{#partial "hero"}} 


  {{#and carousel carousel.slides.length}} 
  <div class="section" id="home-carousel">
  {{> components/carousel arrows=theme_settings.homepage_show_carousel_arrows play_pause_button=theme_settings.homepage_show_carousel_play_pause_button}}
</div>  
{{/and}}

{{/partial}} {{#partial "page"}} {{#each shipping_messages}} {{> components/common/alert/alert-info message}} {{/each}}

<div class="main full">
  <!-- 1) Projects -->
  <div class="section" id="home-desktop-categories">{{> components/custom/home-projects-masonry }}</div>

  <!-- 2 -->
  <div class="section" id="home-mobile-categories" style="display: none;">
    {{> components/custom/categories title="Shop By Category" }}
  </div>

  <!-- Region 1 Home Below Carousel -->
  <div class="section">{{{region name="home_below_carousel"}}}</div>
  <div class="videos-list__video">
            <iframe
                title="The Ulimate Epoxy Kit for Remolding old Countertops"
                id="player"
                class="lazyload"
                type="text/html"
                width="640"
                height="390"
                frameborder="0"
                webkitallowfullscreen
                mozallowfullscreen
                allowfullscreen
                data-src="//www.youtube.com/embed/-Ih30WCWTmw"
                data-video-player>
            </iframe>
        </div>
<!-- 2) Featured -->
  {{#if products.featured}}
  <div class="section">
    {{> components/custom/home-featured products=products.featured columns=theme_settings.homepage_featured_products_column_count}} 
  </div>
    {{/if}}
    
<!-- 3) New -->
    {{#if products.new}}
    <div class="section">
      {{> components/custom/home-new products=products.new columns=theme_settings.homepage_new_products_column_count}}
    </div>
     {{/if}}

     <!-- 4) Top Sellers -->
    {{#if products.top_sellers}}
    <div class="section">
      {{> components/custom/home-top products=products.top_sellers columns=theme_settings.homepage_top_products_column_count}}
    </div>
     {{/if}}
     
<!-- Region 1 Home Below Featured -->
<div class="section">
  {{{region name="home_below_featured_products"}}}
</div>

<!-- About Us Home -->
{{> components/custom/home-about }}

<!-- Calculator Region -->
{{> components/custom/home-calculator }}

     <!-- Region Home Below Bottom Products -->
  <div id="home-below-bottom-products_region" class="section">
    {{{region name="home_below_bottom_products"}}}

    <div class="videos-list__video">
      <iframe
          title="What are customers are saying"
          id="player"
          class="lazyload"
          type="text/html"
          width="640"
          height="390"
          frameborder="0"
          webkitallowfullscreen
          mozallowfullscreen
          allowfullscreen
          data-src="//www.youtube.com/embed/KkBH04kRxZc"
          data-video-player>
      </iframe>
  </div>
  </div>

  

  <!-- Region Home Category Below -->
  <div id="home-category-below_region" class="section">
    {{{region name="home_category_below"}}}
</div>

  
  </div>
 

  <!-- 6) Tutorials -->
  <!-- {{#if settings.blog_enabled}}
  <div class="section">
    {{> components/blog/post posts=blog.recent_posts}}
  </div>
  {{/if}} -->

  <!-- Region Home Below Blog -->
  <div id="home-below-blog_region" class="section">
    {{{region name="home_below_blog"}}}
</div>

  
</div>
{{/partial}} {{> layout/base}}
