---
product:
    videos:
        limit: {{theme_settings.productpage_videos_count}}
    reviews:
        limit: {{theme_settings.productpage_reviews_count}}
    related_products:
        limit: {{theme_settings.productpage_related_products_count}}
    similar_by_views:
        limit: {{theme_settings.productpage_similar_by_views_count}}
---
{{inject 'productId' product.id}}

{{#partial "page"}}

    {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}

    {{#each product.shipping_messages}}
        {{> components/common/alert/alert-info message}}
    {{/each}}

    <div>
        {{> components/products/product-view}}

        {{{region name="product_below_content"}}}

        {{> components/custom/info-icons-grid }}

        {{#if product.title '===' 'Epoxy Gallon Kits'}}
            {{> components/custom/product/calculator-section }}
        {{/if}}

        {{#if product.videos.list.length}}
            {{> components/products/videos videos=product.videos}}
        {{/if}}



        {{#all settings.show_product_reviews theme_settings.show_product_reviews (if theme_settings.show_product_details_tabs '!==' true)}}
            {{> components/products/reviews reviews=product.reviews product=product urls=urls}}
        {{/all}}

        {{> components/products/tabs}}
    </div>

    {{> components/products/schema}}
{{/partial}}
{{> layout/base}}

<script text="text/javascript">
   var _learnq = _learnq || [];

   var item = {
    Name: "{{product.title}}",
    ProductID: "{{product.id}}",
    ImageURL: "{{getImage product.main_image 'product_size' (cdn theme_settings.default_image_product)}}",
    URL: "{{product.url}}",
    Brand: "{{product.brand.name}}",
    Price: "{{product.price.without_tax.value}}",
    CompareAtPrice:"{{product.price.rrp_without_tax.value}}"
   };

  _learnq.push(['track', 'Viewed Product', item]);

  _learnq.push(['trackViewedItem', {
   Title: item.Name,
   ItemId: item.ProductID,
   Categories: item.Categories,
   ImageUrl: item.ImageURL,
   Url: item.URL,

   Metadata: {
     Brand: item.Brand,
     Price: item.Price,
     CompareAtPrice: item.CompareAtPrice
   }
  }]);
</script>
<script text="text/javascript">
	var _learnq = _learnq || [];
	document.getElementById("form-action-addToCart").addEventListener('click',function (){
 		_learnq.push(['track', 'Added to Cart', item]);
	});
</script>
<!-- Pinterest pageVisit -->
<script>
  pintrk('track', 'pagevisit', {
    product_name:'{{product.title}}',
    product_id: {{product.id}}
  });
</script>
<!-- end Pinterest pageVisit -->

<!-- ECI : START – Google DRC code - Standard Event - For PP pages -->
<script>
    gtag('event', 'page_view', {
        'send_to': 'AW-863988378',
        'ecomm_prodid': '{{product.id}}', 
        'ecomm_pagetype': 'product',
        'ecomm_totalvalue': '{{product.price.without_tax.value}}'
    });
</script>
<!-- ECI: END - Google DRC code - Standard Event - For PP pages -->