// =============================================================================
// WRITE A REVIEW (CSS)
// =============================================================================

.writeReview-productDetails {

    @include breakpoint("medium") {
        @include grid-column(6);
    }

    .product-brand {
        color: color("greys", "light");
        margin: 0;
    }

    .product-title {
        margin-top: 0;
    }
}


.writeReview-form {

    @include breakpoint("medium") {
        @include grid-column(6);
    }
}

.writeReview-productImage-container {
    margin-bottom: 20px;
    @media(max-width:800px){
        margin-bottom: 14px;
    }

    @include lazy-loaded-padding("product_size");
    position: relative;

    img {
        @include lazy-loaded-img;
        /* Object-fit polyfill */
        font-family: "object-fit: contain;";
        height: 100%;
        object-fit: contain;
    }
}
