<div class="bs-brand-logos mb-80">
<div class="container-small">
    <div class="custom-row">
    <div class="grid">
        <a href="#">
            <img class="lazyload" data-sizes="auto" src="/product_images/uploaded_images/brandlogo1.png" data-src="/product_images/uploaded_images/brandlogo1.png" alt="" width="150" height="22" loading="lazy">
        </a>
    </div>
    <div class="grid">
        <a href="#">
            <img class="lazyload" data-sizes="auto" src="/product_images/uploaded_images/brandlogo2.png" data-src="/product_images/uploaded_images/brandlogo2.png" alt="" width="100" height="44" loading="lazy">
        </a>
    </div>
    <div class="grid">
        <a href="#">
            <img class="lazyload" data-sizes="auto" src="/product_images/uploaded_images/brandlogo3.png" data-src="/product_images/uploaded_images/brandlogo3.png" alt="" width="84" height="48" loading="lazy">
        </a>
    </div>
    <div class="grid">
        <a href="#">
            <img class="lazyload" data-sizes="auto" src="/product_images/uploaded_images/brandlogo4.png" data-src="/product_images/uploaded_images/brandlogo4.png" alt="" width="100" height="34" loading="lazy">
        </a>
    </div>
    <div class="grid">
        <a href="#">
            <img class="lazyload" data-sizes="auto" src="/product_images/uploaded_images/brandlogo5.png" data-src="/product_images/uploaded_images/brandlogo5.png" alt="" width="55" height="45" loading="lazy">
        </a>
    </div>
    <div class="grid">
        <a href="#">
            <img class="lazyload" data-sizes="auto" src="/product_images/uploaded_images/brandlogo6.png" data-src="/product_images/uploaded_images/brandlogo6.png" alt="" width="100" height="50" loading="lazy">
        </a>
    </div>
    <div class="grid">
        <a href="#">
            <img class="lazyload" data-sizes="auto" src="/product_images/uploaded_images/brandlogo7.png" data-src="/product_images/uploaded_images/brandlogo7.png" alt="" width="118" height="31" loading="lazy">
        </a>
    </div>
</div>
</div>
</div>
