<div class="container">
    <div class="custom-row">
        <div class="grid">
            <div class="custom-row pt-pb-56">
                {{#or theme_settings.CategoryBlocksFirstLink theme_settings.CategoryBlocksFirstImage theme_settings.CategoryBlocksFirstName}}
                <div class="grid">
                    <div class="shop-category scale-img">
                        <a href="{{theme_settings.CategoryBlocksFirstLink}}">
                            <div class="shop-categoryimg">
                                <img class="lazyload" data-sizes="auto" src="/product_images/uploaded_images/{{theme_settings.CategoryBlocksFirstImage}}" data-src="/product_images/uploaded_images/{{theme_settings.CategoryBlocksFirstImage}}" alt="" width="268" height="268" loading="lazy">
                            </div>
                            <div class="shop-categoryinfo">
                                <h5>{{theme_settings.CategoryBlocksFirstName}}</h5>
                            </div>
                        </a>
                    </div>
                </div>
                {{/or}}
                {{#or theme_settings.CategoryBlocksSecondLink theme_settings.CategoryBlocksSecondImage theme_settings.CategoryBlocksSecondName}}
                <div class="grid">
                    <div class="shop-category scale-img">
                        <a href="{{theme_settings.CategoryBlocksSecondLink}}">
                            <div class="shop-categoryimg">
                                <img class="lazyload" data-sizes="auto" src="/product_images/uploaded_images/{{theme_settings.CategoryBlocksSecondImage}}" data-src="/product_images/uploaded_images/{{theme_settings.CategoryBlocksSecondImage}}" alt="" width="268" height="268" loading="lazy">
                            </div>
                            <div class="shop-categoryinfo">
                                <h5>{{theme_settings.CategoryBlocksSecondName}}</h5>
                            </div>
                        </a>
                    </div>
                </div>
                {{/or}}
                {{#or theme_settings.CategoryBlocksThirdLink theme_settings.CategoryBlocksThirdImage theme_settings.CategoryBlocksThirdName}}
                <div class="grid">
                    <div class="shop-category scale-img">
                        <a href="{{theme_settings.CategoryBlocksThirdLink}}">
                            <div class="shop-categoryimg">
                                <img class="lazyload" data-sizes="auto" src="/product_images/uploaded_images/{{theme_settings.CategoryBlocksThirdImage}}" data-src="/product_images/uploaded_images/{{theme_settings.CategoryBlocksThirdImage}}" alt="" width="268" height="268" loading="lazy">
                            </div>
                            <div class="shop-categoryinfo">
                                <h5>{{theme_settings.CategoryBlocksThirdName}}</h5>
                            </div>
                        </a>
                    </div>
                </div>
                {{/or}}
                {{#or theme_settings.CategoryBlocksFourLink theme_settings.CategoryBlocksFourImage theme_settings.CategoryBlocksFourName}}
                <div class="grid">
                    <div class="shop-category scale-img">
                        <a href="{{theme_settings.CategoryBlocksFourLink}}">
                            <div class="shop-categoryimg">
                                <img class="lazyload" data-sizes="auto" src="/product_images/uploaded_images/{{theme_settings.CategoryBlocksFourImage}}" data-src="/product_images/uploaded_images/{{theme_settings.CategoryBlocksFourImage}}" alt="" width="268" height="268" loading="lazy">
                            </div>
                            <div class="shop-categoryinfo">
                                <h5>{{theme_settings.CategoryBlocksFourName}}</h5>
                            </div>
                        </a>
                    </div>
                </div>
                {{/or}}
            </div>
        </div>
        {{#or theme_settings.CategoryBlocksFiveName theme_settings.CategoryBlocksFiveImage theme_settings.CategoryBlocksFiveText}}
        <div class="grid">
            <div class="shop-category big-image">
                <div class="shop-categoryimg">
                    <img class="lazyload" data-sizes="auto" src="/product_images/uploaded_images/{{theme_settings.CategoryBlocksFiveImage}}" data-src="/product_images/uploaded_images/{{theme_settings.CategoryBlocksFiveImage}}" alt="" width="1080" height="692" loading="lazy">
                </div>
                <div class="shop-categoryinfo">
                    <h2 class="page-heading">{{theme_settings.CategoryBlocksFiveName}}</h2>
                    <p>{{theme_settings.CategoryBlocksFiveText}}</p>
                </div>
            </div>
        </div>
        {{/or}}
    </div>
</div>
