<div class="bs-description-tabs">
{{#if product.description}}
<div class="bs-description-tabrow">
    <div class="tab">
        <h2 class="tab-title">{{lang 'products.description'}}</h2>
    </div>
    <div class="bs-productView-description" {{#if settings.data_tag_enabled}} data-event-type="product" {{/if}}>
        {{{product.description}}}
    </div>
    </div>
{{/if}}
{{#if theme_settings.show_custom_fields_tabs '!==' true}}
        {{#if product.custom_fields}}
        <div class="bs-description-tabrow">
            <div class="tab">
                <h2 class="tab-title">Additional Information</h2>
                
            </div>
            <div class="bs-productView-description bs-customfield">
                
                <div class="custom-row">
                {{> components/custom/bs-custom-fields }}
                </div>
                
            </div>
        </div>
        {{/if}}
    {{/if}}
{{#if product.videos.list.length}}
    <div class="bs-description-tabrow">
        <div class="tab">
            <h2 class="tab-title"> {{lang 'products.videos.header'}}</h2>
        </div>
        <div class="bs-productView-description">
            {{> components/custom/bs-videos product.videos}}
        </div>
    </div>
    {{/if}}
{{#if product.warranty}}
<div class="bs-description-tabrow">
    <div class="tab">
        <h2 class="tab-title">{{lang 'products.warranty'}}</h2>
    </div>
    <div class="bs-productView-description">
        {{{product.warranty}}}
    </div>
    </div>
{{/if}}

</div>
