<div class="section scc-categories">
  <h2>{{title}}</h2>
  <div class="scc-slider flex-row">
    {{#each categories}}
    
    <a class="product-card-alt" href="{{url}}">
      {{#if image}}
      <div class="product-card-img">
        {{> components/common/responsive-img image=image 
          fallback_size=theme_settings.blog_size
          lazyload=theme_settings.lazyload_mode
          default_image=theme_settings.default_image_product }}
      </div>
      {{/if}}
      <div class="product-card-details">
        <h3>{{name}}</h3>
      </div>
    </a>
    {{/each}}
  </div>
</div>
