<div class="section scc-categories">
  <h2>{{title}}</h2>
  <div class="scc-slider flex-row">
    {{#each categories}}
    
    <a class="product-card-alt" href="{{url}}">
      {{#if image}}
      <div class="product-card-img">
        {{> components/common/responsive-img image=image fallback_size=theme_settings.thumbnail lazyload=theme_settings.lazyload_mode }}
      </div>
      {{/if}}
      <div class="product-card-details">
        <h2>{{name}}</h2>
      </div>
    </a>
    {{/each}}
  </div>
</div>
