
  <div class="calculator-section-heading">
    <h3>How much do I need?</h3>
  </div>
<div class="calculator-section-coverage">
    {{#each fields}}
      {{#if name '==' '1 Gallon Kit'}}
        <div class="kit-size">
          <img src="{{cdn 'img/info-icons/one_gallon_bucket.png'}}" alt="One gallon kit">
          <!-- <span class="equals">=</span> -->
          <img src="{{cdn 'img/info-icons/square_footage.png'}}" alt="Square footage icon">
          <div class="covers">
            <p class="value">{{value}}</p>
            <p>Sq Ft</p>
          </div>
        </div>
      {{/if}}
      {{#if name '==' '1/2 Gallon Kit'}}
        <div class="kit-size">
          <img src="{{cdn 'img/info-icons/half_gallon_bucket.png'}}" alt="Half gallon kit">
          <!-- <span class="equals">=</span> -->
          <img src="{{cdn 'img/info-icons/square_footage.png'}}" alt="Square footage icon">
          <div class="covers">
            <p class="value">{{value}}</p>
            <p>Sq Ft</p>
          </div>
        </div>
      {{/if}}
    {{/each}}
<div class="epoxy-calculator">
    <h4>Square Foot Calculator</h4>
    <!-- length x width inputs -->
    <div class="epoxy-calculator-inputs flex-row">
        <div class="epoxy-calculator-input">
            <label for="length">Length (feet)</label>
            <input type="number" id="length" name="length" placeholder="feet" />
        </div>
        <div class="epoxy-calculator-input">
            <label for="width">Width (feet)</label>
            <input type="number" id="width" name="width" placeholder="feet" />
        </div>
        <!-- submit and calculate -->
        <div class="epoxy-calculator-submit">
            <button class="scc-button-action" id="calculate">Calculate</button>
        </div>
        </div>
        
        <!-- results -->
        <div class="epoxy-calculator-results flex-row">
            <div class="epoxy-calculator-results-amount">
                <h5>Square Feet: <span id="results-square-feet">0</span></h5>
            </div>
            <div class="epoxy-calculator-results-amount">
                <h5>Gallons Needed: <span id="results-gallons">0</span></h5>
            </div>
            <p><em>Length &times; Width &divide; 20 = Gallons</em></p>
        </div>
        <script>
            // get inputs
            const length = document.getElementById('length');
            const width = document.getElementById('width');
            const calculate = document.getElementById('calculate');
            // get results
            const resultsSquareFeet = document.getElementById('results-square-feet');
            const resultsGallons = document.getElementById('results-gallons');
            // calculate square feet
            function calculateSquareFeet() {
                const squareFeet = length.value * width.value;
                resultsSquareFeet.innerHTML = squareFeet;
            }
            // calculate gallons
            function calculateGallons() {
                const squareFeet = length.value * width.value;
                const gallons = squareFeet / 20;
                resultsGallons.innerHTML = gallons.toFixed(2);
            }
            // calculate square feet and gallons
            function calculateAll() {
                calculateSquareFeet();
                calculateGallons();
            }
            // calculate on click
            calculate.addEventListener('click', calculateAll);
        </script>

</div>
</div>
