<a href="#main-content" class="skip-to-main-link">{{lang 'header.skip_to_main'}}</a>

<header class="header">
    <div class="header-container">
        <!-- menu button and search button -->
        <div class="buttons">
            <button class="mobileMenu-toggle">
                <span class="toggle-bar"></span>
                <span class="toggle-bar"></span>
                <span class="toggle-bar"></span>
            </button>
            <!-- <button id="search-toggle">
                <svg class="icon">
                    <use xlink:href="#icon-search" />
                </svg>
            </button> -->
            <li class="navUser-item">
                <button class="navUser-action navUser-action--quickSearch"
                   type="button"
                   id="quick-search-expand"
                   data-search="quickSearch"
                   aria-controls="quickSearch"
                   aria-label="{{lang 'common.search'}}"
                >
                <svg class="icon">
                    <use xlink:href="#icon-search" />
                </svg>
                </button>
            </li>
        </div>
        <!-- store logo -->
        <div class="menu-logo">
            {{> components/common/store-logo}}
        </div>
        <!-- account button and cart button -->
        <div class="buttons">
            <a class="header-button-alt" href="/account.php">
                <svg class="icon">
                    <use xlink:href="#icon-user" />
                </svg>
            </a>
            <a class="cart-toggle header-button-alt" href="{{urls.cart}}">
                <span id="cart-button-qty"></span>
                <svg class="icon">
                    <use xlink:href="#icon-cart" />
                </svg>
            </a>
        </div>
    </div>
    <div class="dropdown dropdown--quickSearch" id="quickSearch" aria-hidden="true" data-prevent-quick-search-close style="z-index: 999">
        {{> components/common/quick-search name='nav-quick-search'}}
    </div>
</header>

{{{region name="header_bottom--global"}}}
{{{region name="header_bottom"}}}

<div id="mobile-menu" style="display: none">
    {{> components/custom/menu }}
</div>

<script>
    window.onload = function() {
        const menuBtn = document.querySelector(".mobileMenu-toggle");
        const close = document.getElementById("close-mobile-menu");
        const mobileMenu = document.getElementById("mobile-menu");
        const body = document.querySelector("body");
    
        menuBtn.addEventListener("click", function(e) {
            if (mobileMenu.style.display == "none") {
                mobileMenu.style.display = "block";
                mobileMenu.style.height = `${window.innerHeight}px`;
                body.style.overflow = "hidden";
            } else {
                mobileMenu.style.display = "none";
                body.style.overflow = "auto";
            }
        });
    
        close.addEventListener("click", function() {
            mobileMenu.style.display = "none";
            body.style.overflow = "auto";
        })
        
        
    } 
</script>