<div id="home-calculator">
  <div class="section-heading">
    <h2 class="section-title">Epoxy coverage</h2>
    <h4 class="section-subtitle">Big or small projects. We’ve got you covered.</h4>
  </div>
  <div class="flex-row">
    <div class="our-story-content">
      <div class="our-story-sub-content">
        <h4>How Much Epoxy Resin Do I Need?</h4>
        <p>Use this calculator to find out the amount of epoxy resin for your project.</p>
        <a class="scc-button" href="/volume-calculator">Resin Calculator</a>
      </div>
    </div>
    <div class="our-story-img">
      <img src="https://cdn11.bigcommerce.com/s-19qfhxpoud/images/stencil/original/image-manager/calculator-image.png" alt="Mitch Quist showing final product of epoxy countertop project" />
    </div>
  </div>
</div>
