<div id="home-about">
  <div class="section-heading">
    <h2 class="section-title">You Got This!</h2>
    <h4 class="section-subtitle">Great for Beginners and Professionals</h4>
  </div>
  <div class="flex-row">
    <div class="our-story-img">
      <img src="https://cdn11.bigcommerce.com/s-fy21dwtsxg/images/stencil/original/image-manager/about-scc1.png" alt="Mitch Quist showing final product of epoxy countertop project" />
    </div>
    <div class="our-story-content">
      <div class="our-story-sub-content">
        <p>
          We teach DIYers, Woodworkers, Artists, Contractors, & Designers by creating content about How to use our custom epoxy coating systems to make easy, one of a kind high end surfaces for their
          projects on a friendly budget, so they feel empowered to create the amazing looks they desire.
        </p>
        <p>We love to see our customers thrive with our unique systems by creating projects they never thought possible, often building their own business, and reaching their goals!</p>
        <p>Simply put we have worked very hard to provide free how-to video training so folks can make informed decisions on the remodeling choices they have.</p>
        <a class="scc-button" href="/about-us">About Us</a>        
      </div>
    </div>
  </div>
</div>
