<div id="home-projects">
  <div class="flex-row-heading">
    <h2>Projects & Resources</h2>
  </div>
  <ul class="scc-slider-wide">
    <li class="scc-slide">
      <a class="home-project-card" href="/projects/countertop-epoxy/">
        <img src="https://i.shgcdn.com/5e449be8-13f7-4253-93bb-528d42f1ce2e/-/format/auto/-/preview/3000x3000/-/quality/lighter/" />
        <h3>Countertops</h3></a
      >
    </li>
    <li class="scc-slide">
      <a class="home-project-card" href="/projects/flooring-epoxy/">
        <img src="https://i.shgcdn.com/6d388841-ea34-43d4-acf1-e08e5b9999d5/-/format/auto/-/preview/3000x3000/-/quality/lighter/" />
        <h3>Flooring</h3></a
      >
    </li>
    <li class="scc-slide">
      <a class="home-project-card" href="/projects/woodworking-epoxy/">
        <img src="https://i.shgcdn.com/e84f7ef8-6a91-485a-b527-059db6e6277a/-/format/auto/-/preview/3000x3000/-/quality/lighter/" />
        <h3>Woodworking</h3></a
      >
    </li>
    <li class="scc-slide">
      <a class="home-project-card" href="/projects/artwork-epoxy/">
        <img src="https://i.shgcdn.com/6f60dd82-0294-472e-80eb-f24940d9b29e/-/format/auto/-/preview/3000x3000/-/quality/lighter/" />
        <h3>Artwork</h3></a
      >
    </li>
    <li class="scc-slide">
      <a class="home-project-card" href="/projects/showers-epoxy/">
        <img src="https://i.shgcdn.com/8157559c-d1e0-4ef0-a5b2-d3f95d42b877/-/format/auto/-/preview/3000x3000/-/quality/lighter/" />
        <h3>Showers</h3></a
      >
    </li>
  </ul>
</div>
