<div class="home-categories">
        <h2>Shop By Category</h2>
        <div class="">
            {{#each categories}}
                {{#unless @index '>' '10'}}
                <div class="card">
                    <div class="card-figure">
                        <img src="{{image}}" alt="{{image.alt}}">
                        </div>
                    <div class="card-body">
                        <a class="scc-button" href="{{url}}">{{name}}</a>
                    </div>
                </div>
                
                {{/unless}}
            {{/each}}
    </div>
</div>
<script>
    // fetch graphql storefront api to get categories
    
</script>