<div id="home-categories-masonry">
  <div class="section-heading">
    <h2 class="section-title"> 
      Shop by Category
    </h2> 
      <h4 class="section-subtitle">
        Trending Products
      </h4>
  </div>
<div class="cat-layout-5">
  <div class="section-content-first section-sub-content">
    <a href="/products/shower-epoxy/" class="category-content firstcategory_content">
      <div class="category-image">
          <img class="category-img lazyautosizes lazyloaded" data-sizes="auto" src="https://cdn11.bigcommerce.com/s-19qfhxpoud/images/stencil/475w/w/scc_showers_1200x600__95304.original.jpg" alt="Shower Epoxy" title="Shower Epoxy" sizes="230px">
        <div class="category-subcontent ">
            <h3 class="category-title">Shower Epoxy</h3>
            <span class="scc-button">Shop Now</span>
        </div>
      </div>
    </a>
  </div>
  <div class="section-content-second section-sub-content">
    <a href="/products/flooring-epoxy" class="category-content secondcategory_content">
      <div class="category-image">
          <img class="category-img lazyautosizes lazyloaded" data-sizes="auto" src="https://cdn11.bigcommerce.com/s-19qfhxpoud/images/stencil/475w/t/scc_flooring_1200x600__91642.original.jpg" alt="Flooring Epoxy" title="Flooring Epoxy" sizes="479px">
        <div class="category-subcontent ">
            <h3 class="category-title">Flooring</h3>
            <span class="scc-button">Shop Now</span>
        </div>
      </div>
    </a>
  </div>
  <div class="section-content-third section-sub-content">
    <a href="/products/countertops/" class="category-content thirdcategory_content">
      <div class="category-image">
          <img class="category-img lazyautosizes lazyloaded" data-sizes="auto" src="https://cdn11.bigcommerce.com/s-19qfhxpoud/images/stencil/230w/a/scc_countertops_1200x600__20502.original.jpg" alt="Countertop Epoxy" title="Countertop Epoxy" sizes="230px">
        <div class="category-subcontent ">
            <h3 class="category-title">Countertops</h3>
            <span class="scc-button">Shop Now</span>
        </div>
      </div>
    </a>
  </div>
  <div class="section-content-fourth section-sub-content">
    <a href="/products/artwork-epoxy/" class="category-content fourthcategory_content">
        <div class="category-image">
            <img class="category-img lazyautosizes lazyloaded" data-sizes="auto" src="https://cdn11.bigcommerce.com/s-19qfhxpoud/images/stencil/230w/c/scc_artwork_1200x600__62904.original.jpg" alt="Artwork Epoxy" title="Artwork Epoxy" sizes="230px">
          <div class="category-subcontent ">
              <h3 class="category-title">Artwork</h3>
              <span class="scc-button">Shop Now</span>
          </div>
        </div>
      </a>
  </div>
  <div class="section-content-fifth section-sub-content">
    <a href="/products/woodworking-epoxy/" class="category-content fourthcategory_content">
        <div class="category-image">
            <img class="category-img lazyautosizes lazyloaded" data-sizes="auto" src="https://cdn11.bigcommerce.com/s-19qfhxpoud/images/stencil/230w/t/scc_woodworking_1200x600__57481.original.jpg" alt="Woodworking Epoxy" title="Woodworking Epoxy" sizes="230px">
          <div class="category-subcontent ">
              <h3 class="category-title">Woodworking</h3>
              <span class="scc-button">Shop Now</span>
          </div>
        </div>
      </a>
  </div>
</div>
</div>