<div class="info-icons-grid">
  {{#each product.custom_fields}}
    {{#if name '==' 'Cure Time'}}
        {{> components/custom/info-icons/dry-time }}
    {{/if}}
    {{#if name '==' 'Mix Ratio'}}
        {{> components/custom/info-icons/mix-ratio }}
    {{/if}}
    {{#if name '==' 'Easy To Use'}}
        {{> components/custom/info-icons/easy-to-use }}
    {{/if}}
    {{#if name '==' 'Eco Friendly'}}
        {{> components/custom/info-icons/eco-friendly }}
    {{/if}}
    {{#if name '==' 'Heat Resistant'}}
        {{> components/custom/info-icons/heat-resistant }}
    {{/if}}
    {{#if name '==' 'Scratch Resistant'}}
        {{> components/custom/info-icons/scratch-resistant }}
    {{/if}}
  {{/each}}
</div>
