<table class="cart" data-cart-quantity="{{cart.quantity}}">
    <!-- <thead class="cart-header">
        <tr>
            <th class="cart-header-item" colspan="2">{{lang 'cart.checkout.item'}}</th>
            <th class="cart-header-item">{{lang 'cart.checkout.price'}}</th>
            <th class="cart-header-item cart-header-quantity">{{lang 'cart.checkout.quantity'}}</th>
            <th class="cart-header-item">{{lang 'cart.checkout.total'}}</th>
        </tr>
    </thead> -->
    <tbody class="cart-list">
        {{#each cart.items}}
            {{> components/custom/product/product-card-alt }}
        {{/each}}
    </tbody>
</table>

<script>
    const deleteBtns = document.querySelectorAll(".product-card-delete");
    deleteBtns.forEach(btn => {
        btn.style.height = Math.round(btn.parentNode.clientHeight) + "px";
    })
</script>