<nav>
        <div class="sidebarBlock">
            <h2 class="sidebarBlock-heading">Shop By Category</h2>
            <ul class="navList">
                {{#each categories}}
                <li class="navList-item">
                    <a class="navList-action" href="{{url}}" title="{{name}}">{{name}}</a>
                </li>
                {{/each}}
            </ul>
        </div>

    {{#if category.faceted_search_enabled}}
        {{> components/faceted-search/index category}}
    {{else}}
        {{> components/category/shop-by-price shop_by_price=category.shop_by_price category_url=category.url}}
    {{/if}}
</nav>
