{{#if product}}
{{#if product.inventory.isInStock}}
<article class="card">
  <figure class="card-figure">
    <div class="card-img-container">
      <img src="{{product.defaultImage.url}}" alt="{{product.seo.metaDescription}}"
      class="card-image lazyautosizes ls-is-cached lazyloaded"/>
    </div>
      <div class="card-body">
      <h3 class="card-title">{{product.name}}</h3>
      <script>console.log("{{product.availabilityV2.description}}")</script>
      <p>{{product.availabilityV2.description}}</p>
      <div class="card-text price-section">
        {{#if product.prices.priceRange.max.value '!==' product.prices.priceRange.min.value}}
          ${{product.prices.priceRange.min.value}} - ${{product.prices.priceRange.max.value}}
        {{else}}
          ${{product.prices.price.value}}
        {{/if}}
    </div>
    </div>
    <div class="product-card-button">
      <a href="{{product.path}}" class="scc-button">View Product</a>
    </div>
  </figure>
</article>
{{/if}}
{{/if}}

