<div class="product-card-alt">
  <div class="product-card-alt-content">
    <div class="product-card-img">
      {{#if type '==' 'GiftCertificate'}}
      <img class="cart-item-fixed-image" src="{{cdn ../theme_settings.default_image_gift_certificate}}"
        alt="{{lang 'cart.gift_certificates.gift_certificate'}}"
        title="{{lang 'cart.gift_certificates.gift_certificate'}}">
      {{else}}
      {{> components/common/responsive-img
      image=image
      class="cart-item-image"
      fallback_size=../theme_settings.productthumb_size
      lazyload="lazyload"
      default_image=../theme_settings.default_image_product
      }}
      {{/if}}
    </div>
    <div class="product-card-details">
      <h2><a href="{{url}}">{{name}}</a></h2>
      {{#if options}}
      {{#each options}}
      <p>{{value}}</p>
      {{/each}}
      {{/if}}
    </div>
    <div class="product-card-priceAndQty">
      <div>
        {{#or ../customer (unless ../settings.hide_price_from_guests) (if type '==' 'GiftCertificate')}}
        <span class="cart-item-value {{#if price_discounted}}price--discounted{{/if}}">{{price.formatted}}</span>
        {{#if price_discounted}}
        <span class="cart-item-value">{{price_discounted.formatted}}</span>
        {{/if}}
        {{else}}
        {{> components/common/login-for-pricing}}
        {{/or}}
      </div>
      <div>
        <div class="form-increment">
          {{#if can_modify}}
          <button class="button button--icon" data-cart-update data-cart-itemid="{{id}}" data-action="dec">
            <span class="is-srOnly">{{lang 'products.quantity_decrease' name=name}}</span>
            <span>&minus;</span>
          </button>
          {{/if}}
          <input class="form-input form-input--incrementTotal cart-item-qty-input" id="qty-{{id}}" name="qty-{{id}}"
            type="tel" value="{{quantity}}" data-quantity-min="{{min_purchase_quantity}}"
            data-quantity-max="{{max_purchase_quantity}}"
            data-quantity-min-error="{{lang 'products.quantity_min' quantity=min_purchase_quantity}}"
            data-quantity-max-error="{{lang 'products.quantity_max' quantity=max_purchase_quantity}}" min="1"
            pattern="[0-9]*" data-cart-itemid="{{id}}" data-action="manualQtyChange" aria-label="{{name}}"
            aria-live="polite" {{#unless can_modify}} disabled{{/unless}}>
          {{#if can_modify}}
          <button class="button button--icon" data-cart-update data-cart-itemid="{{id}}" data-action="inc">
            <span class="is-srOnly">{{lang 'products.quantity_increase' name=name}}</span>
            <span>&plus;</span>
          </button>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
  <div 
    class="product-card-delete"
  >
    <svg class="icon">
      <use xlink:href="#icon-trash" />
    </svg>
  </div>
</div>