ul{
    &.sitemap-style{
        margin: 0; list-style: none; @include display-flex(flex); @include flex-wrap(wrap); @include row;

        > li{
            @include col; width: 33.33%;
            margin-top: 0px;
            &:before{
                display: none;
            }
            @include mobile{
                width: 100%;
            }

            + li{
                @include mobile{
                    margin-top: 30px;
                }
            }
            
            ul{
                margin-left: 20px;

                li{
                    margin-top: 10px;
                }
            }
        }
    }

    h2{
        font-size: 18px; line-height: 24px;
    }
}
