/*---- custom variabl color ----- */
$theme-primary-black:stencilColor("theme-primary-black");
$theme-red-color:stencilColor("theme-red-color");
$theme-lightgrey:stencilColor("theme-lightgrey");
$border-color:stencilColor("border-color");
$theme-semi-dark-grey-color:stencilColor("theme-semi-dark-grey-color");
$theme-lightengrey:stencilColor("theme-lightengrey");
$theme-semilightgrey:stencilColor("theme-semilightgrey");
$theme-offwhitecolor:stencilColor("theme-offwhitecolor");
$theme-yellowcolor:stencilColor("theme-yellowcolor");
$theme-whitecolor: stencilColor("theme-whitecolor");
$theme-greycolor:stencilColor("theme-greycolor");
$theme-productbg:stencilColor("theme-productbg");
$theme-border-secondary-color:stencilColor("theme-border-secondary-color");
$theme-dark-grey-color:stencilColor("theme-dark-grey-color");
$theme-checkbox-color:stencilColor("theme-checkbox-color");
$theme-whitebase-color:stencilColor("theme-whitebase-color");
$theme-secondary-whitecolor:stencilColor("theme-secondary-whitecolor");
$theme-header-sidebarbg:stencilColor("theme-header-sidebarbg");
$theme-mobile-sideicon-color:stencilColor("theme-mobile-sideicon-color");
