// Cornerstone Buttons
.button {
    border-radius: 50px;
  }
// Stone Coat Countertops Buttons
.scc-button {
    @include flex-center;
    align-items: center;
    padding: 18px 16px;
    gap: 8px;
    position: relative;
    width: 240px;
    height: 40px;
    background: $black;
    border-radius: $border-radius-full;
    color: $white;
    text-decoration: none;
    .scc-button-icon {
        width: 20px;
        height: 20px;
        fill: $white;
    }
}
.scc-button:hover {
    background: $orange;
    color: $white;
    .scc-button-icon {
        fill: $white;
    }
}
.scc-button-action {
    display: inline-block;
    margin: 10px;
    padding: 8px;
    background: $blue;
    border-color: $blue;
    color: $white;
    border-radius: $border-radius-sm;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}
.scc-button-action:hover {
    background: $blue;
    color: $white;
    .scc-button-icon {
        fill: $white;
    }
}

.scc-button-fit-content {
    width: fit-content !important;
    text-decoration: none !important;
    padding:unset;
    padding-left: 20px;
    padding-right: 20px;
}
// override input buttons
input[type="submit"].scc-button {
    width: fit-content !important;
    text-decoration: none !important;
    padding:unset;
    padding-left: 20px;
    padding-right: 20px;
    border-color: transparent;
}
.scc-pills {
    min-width: 190px;
    background-color: $black;
    color: $white;
    border: 1px solid $black;
    border-radius: $border-radius-sm;
    height: 40px;
    padding: 10px 5px;
    margin: 5px;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    transition: all .5s;
    // vertically align text
    display: flex;
    a {
    align-items: center;
    justify-content: center;
    }
    
    &:hover, &:focus, &:active {
        background: $orange;
        color: $white;
    }
}