#product-listing-container {
  h2 {
    margin-top: 0px;
  }
}
.category-header {
  .category-header-image {
    border-radius: $border-radius-lg;
    min-width: 250px;
  }
  .category-header-text {
    h1 {
      margin-bottom: 0;
    }
    p {
      font-weight: 400;
      margin-bottom: 0;
    }
  }
}
// tile of categories
.scc-categories {
  .product-card-alt {
    background: $black;
    
    box-shadow: none;
    margin: 0 10px;
    padding: 0;
  }
  h3 {
    color: #fff;
    margin: 0;
  }
  a {
    text-decoration: none;
  }
  .product-card-img {
    height: 200px;
    width: 100%;
    img {
      object-fit: cover !important;
    }

    border-radius: $border-radius-lg;
  }
  .product-card-details {
    text-align: center;
  }
}
.bg-white {
  background: $bg-white;
  box-shadow: 0 0 0 100vmax $bg-white;
  clip-path: inset(0 -100vmax); 
}