.scc-footer {
  background: $white;
  border-color: $medium-grey;
  border-radius: $border-radius-lg;
  box-shadow: $box-shadow-top;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-top: $padding-small;
  z-index: 9999;

  p {
    margin-bottom: 0;
  }
}
