.scc-footer {
  width: 100%;
  background: $black;
  min-height: 100px;
  position: relative;

  .scc-footer-contact-copyright {
    // position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 100%;
    max-width: $max-width;
    // margin-bottom: 40px;
    a {
      color: $white;
      text-decoration: none;
    }
    p {
      color: $light-grey;
      text-align: center;
      padding: 10px;
    }
  }

  .snackbar {
    background: $light-grey;
    border-radius: $border-radius-sm;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    box-shadow: 0px -1px 5px 5px rgba(0,0,0,0.2);
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: $padding-medium 0;
    // max-width: 100vw;
    // height: 60px;
    //padding: 2px;
    z-index: 99999;
    a {
      color: $white;
      text-decoration: none;
    }
    .add-to-cart-wrapper,
    .form {
      @include flex-row-heading;

      .form-increment {
        @include quantity-buttons($medium-grey);
      }
    }
    .form-label {
      display: none;
    }
  }

  .add-to-cart-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .form-field--increments,
    .button--primary {
      margin-bottom: 0;
    }
  }
}

#scc-snackbar-addtocart form {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;

  [data-product-option-change] > .form-field {
    margin-bottom: 10px;
  }
}