.heroCarousel {
  margin-top: -20px;
  border-radius: $border-radius-lg;

  .slick-slide,
  .slick-list,
  .slick-track {
    border-radius: $border-radius-lg;
  }

  .heroCarousel-content {
    border-bottom-right-radius: $border-radius-lg;
    border-bottom-left-radius: $border-radius-lg;
  }
}

.home-categories {
  text-align: center;

  h2 {
    padding-bottom: $padding-small;
  }

  ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin: 0;

    .category-pill {
      @include flex-center;
      padding: 5px;
      border: 2px solid $black;
      border-radius: $border-radius-full;
      transition: all $transition-fast;
      background: $white;

      &:hover {
        a {
          color: $orange;
        }

        border-color: $orange;
        box-shadow: $box-shadow;
        transform: translateY(-1px);
      }
    }
  }
}

