.items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  .item {
      background-color: $black;
      border: 1px solid $black;
      border-radius: $border-radius-lg;
      width: 250px;
      min-width: 250px;
      max-width: 250px;
      max-height: 400px;
      margin: 10px 0;
      text-align: center;
      .item-image {
          border-radius: $border-radius-lg;
      }
      .item-title {
          color:$white;
          margin: 10px 0;
      }
  }
}