body {
  padding-top: 0;
}

.body {
  margin-top: -30px;
  background: $white;

  .container {
    z-index: 99;
    background: $white;
    border-top-left-radius: $border-radius-lg;
    border-top-right-radius: $border-radius-lg;
  }
}

.container {
  @include mobile-container;
}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.section {
  padding-top: $padding-medium;
  padding-bottom: $padding-medium;
}
