body {
  padding-top: 0;
  background-color: $bg-soft;
  overflow-x: hidden;
}

.body {
  margin-top: -30px;
  background: $bg-soft;
  overflow-x: hidden;

  .container {
    z-index: 99;
    background: $bg-soft;
    border-top-left-radius: $border-radius-lg;
    border-top-right-radius: $border-radius-lg;
    padding: 0 5%;
  }
}


.container-lg, .container {
  @include mobile-container;
  max-width: $max-width;
  padding: 0;
}
.container-overflow-none {
  overflow: hidden;
}

.section {
  padding-top: $padding-medium;
  padding-bottom: $padding-medium;
}

.page-content {
  padding-right: 0;
  padding-left: 0;
}

.button--primary {
  @include flex-center;
  gap: 10px;
  .icon  {
    fill: $white;
  }
}