.product-card-alt {
  margin-bottom: 40px;
  box-shadow: $box-shadow;
  border-radius: $border-radius-lg;
  display: flex;
  justify-content: space-between;
  height: fit-content;

  &-content {
    width: 100%;
    padding: $padding-small;
    height: fit-content;
    display: grid;
    grid-template-areas: 
    'image details'
    'image priceAndQty';
    grid-template-columns: 80px auto;
    border-radius: $border-radius-lg;
  }

  &:hover {
    .product-card-delete {
      width: 50px;
      min-width: 50px;
    }
  }
}

.product-card-img {
  grid-area: image;
  // border-radius: $border-radius-sm;
  
  img {
    object-fit: contain;
    height: 100%;
    width: 80px;
    max-height: 80px;
    border-radius: $border-radius-lg;
  }
}

.product-card-details {
  grid-area: details;
  display: flex;
  flex-direction: column;
  padding-left: $padding-small;

  a {
    text-decoration: none;
    transition: all $transition-fast;
    &:hover {
      h2 {
        color: $blue;
      }
    }
  }

  h2, p {
    margin: 0;
  }

  h2 {
    font-size: $font-size-16;
  }

  p {
    font-size: $font-size-14;
    max-width: 200px;
  }
}

.product-card-priceAndQty {
  grid-area: priceAndQty;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-left: $padding-small;
  padding-top: $padding-small;
  position: relative;

  .cart-item-value { padding-left: 0 }

  .form-increment {
    background: $light-grey;
    border-radius: $border-radius-full;
    color: $black;
    padding: 2px 7px;

    button {
      border: none;
      color: inherit;
    }
  
    input {
      @include montserrat-regular;
      color: inherit;
      background: inherit;
    }
  }
}

.product-card-delete  {
  @include flex-center;
  width: 0px;
  min-width: 0px;
  background: $black;
  height: 0px;
  transition: all $transition-slow;
  border-top-right-radius: $border-radius-lg;
  border-bottom-right-radius: $border-radius-lg;

  .icon {
    fill: $white !important;
    height: auto;
  }
}