$mobile-image-container-height: 338px;
$desktop-image-container-height: 480px;

.productView {
  padding-top: 20px;

  .productView-info {
    display: none;
  }

  .product-options {
    padding-bottom: 0;
  }

  .productView-images {
    // padding: 0;
    height: $mobile-image-container-height;
    border-radius: $border-radius-lg;
    background: $bg-soft;
    border-color: $bg-soft;

    .scc-slider-wide {
      max-height: $mobile-image-container-height;
      max-width: $mobile-image-container-height;
      margin: 0 auto;

      .slick-slide {
        max-height: $mobile-image-container-height;
        max-width: $mobile-image-container-height;
      }

      .slick-next,
      .slick-prev {
        background: transparent;
        border: none;
      }
    }

    

    .scc-slide,
    .slick-track,
    .productView-image,
    .slick-list {
      border-radius: $border-radius-lg;
      background: $bg-soft;
      border-color: $bg-soft;
    }

    .slick-list {
      box-shadow: $box-shadow;
    }

    .productView-img-container {
      height: $mobile-image-container-height;
      background: $bg-soft;
    border-radius: $border-radius-lg;
    border-color: $bg-soft;
    


      img {
        object-fit: contain;
    border-radius: $border-radius-lg;
      background: $white;
      border-color: $bg-soft;

      }
    }


    @media only screen and (min-width: 450px) {
        min-height: 350px;
        // max-height: 100%;
        // height: 100%;
        //
        .scc-slider-wide,
        .productView-img-container,
        .scc-slider-wide .slick-slide {
            max-height: 350px;
            max-width: 350px;
        }


    }

    @media only screen and (min-width: 500px) {
        min-height: 450px;

        .scc-slider-wide,
        .productView-img-container,
        .scc-slider-wide .slick-slide {
            max-height: 450px;
            max-width: 450px;
            width: 450px;
            height: 450px;
        }
    }

    @media only screen and (min-width: 700px) {
        min-height: 650px;

        .scc-slider-wide,
        .productView-img-container,
        .scc-slider-wide .slick-slide {
            max-height: 650px;
            max-width: 650px;
            width: 650px;
            height: 650px;
        }
    }
    @media only screen and (min-width: 800px) {
        min-height: 338px;       

        .scc-slider-wide,
        .productView-img-container,
        .scc-slider-wide .slick-slide {
            max-height: 338px;
            max-width: 338px;
            width: 338px;
            height: 338px;
        }

        .scc-slider-wide {
            margin: unset;
        }
    }
    @media only screen and (min-width: 900px) {
        min-height: 400px;       

        .scc-slider-wide,
        .productView-img-container,
        .scc-slider-wide .slick-slide {
            max-height: 400px;
            max-width: 400px;
            width: 400px;
            height: 400px;
        }

        .scc-slider-wide {
            margin: unset;
        }
    }
    @media only screen and (min-width: 1000px) {
        min-height: 450px;       

        .scc-slider-wide,
        .productView-img-container,
        .scc-slider-wide .slick-slide {
            max-height: 450px;
            max-width: 450px;
            width: 450px;
            height: 450px;
        }

        .scc-slider-wide {
            margin: unset;
        }
    }
  }

  .form-field {
    display: flex;
    align-items: center;

    label {
      margin-bottom: 0;
      padding-right: $padding-small;
      min-width: fit-content;
    }

    small {
      display: none;
    }

    .form-select--large {
      background: $light-grey;
      border: none;
      height: 50px;
      border-radius: $border-radius-sm;
    }
  }

  .qtyAndPrice {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;

    .productView-price,
    .form-field--increments {
      margin-bottom: 0;
    }

    .price {
      font-family: $bebas-neue;
      font-size: $font-size-30;
    }

    @media only screen and (min-width: 800px) {
      width: 345px;
    }
  }

  .form-increment {
    background: $light-grey;
    border-radius: $border-radius-full;
    color: $black;
    padding: 2px 7px;

    button {
      border: none;
      
      span {
        @include montserrat-regular;
        color: $black;
        font-size: $font-size-16;
      }
    }

    .form-input--incrementTotal {
      @include montserrat-regular;
      background: inherit;
    }
  }

  .productView-price {
    display: flex;
    flex-direction: row-reverse;
    align-items: baseline;

    .price--non-sale {
      font-size: $font-size-18;
      margin-left: 10px;
    }
  }
}

.tabs {
  display: none;
}

#description-show-more {
  margin: 15px auto;
}

#tab-description {
  position: relative;
}

.showMoreBlur::after {
  content: "";
position: absolute;
z-index: 1;
bottom: 0;
left: 0;
pointer-events: none;
width: 100%;
height: 4em;
background-image: linear-gradient(to bottom,rgba($bg-soft,0),$bg-soft 90%);
}

.videoGallery.toggle {
  border-top: none;
  margin-bottom: 0;
  width: 100%;
}

.videos-list {
    margin-bottom: 50px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    &__video {
        width: 100%;
        aspect-ratio: 16/9;
        overflow: hidden;

        iframe {
            width: 100%;
            height: 100%;
        }
    }

    @media only screen and (max-width: 600px) {
        grid-template-columns: repeat(1, 1fr);
    }
}

.info-icons-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  margin-bottom: 50px;
}

.calculator-section {
  margin-bottom: 50px;

  .calculator-section-heading {
    h3 {
      margin-top: 0;
    }
  }

  .calculator-section-coverage {
    display: flex;
    gap: 20px;
    align-items: center;
    
    .kit-size {
      width: 50%;
      position: relative;
      left: 0;
      display: flex;
      align-items: center;
        @media only screen and (max-width: 900px) {
            width: unset;
        }

      img {
        width: 65px;
        height: 65px;
      }

      .equals {
        @include montserrat-bold;
        font-size: $font-size-25;
      }

      .covers {
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 45px;
        top: 20px;
        left: 97px;

        p {
          font-size: 12px;
          margin: 0;
          margin-bottom: -8px;
          text-align: center;
        }
      
        .value {
          @include montserrat-bold;
          font-size: $font-size-18;
        }
      }
    }

    .button {
      width: 50%;
      margin-bottom: 0;
    }


  @media only screen and (max-width: 900px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  }

}
