.productView {
  padding: 0 5%;

  .form-field {
    display: flex;
    align-items: center;

    label {
      margin-bottom: 0;
      padding-right: $padding-small;
    }

    small {
      display: none;
    }

    .form-select--small {
      background: $light-grey;
      border: none;
      height: 50px;
      border-radius: $border-radius-sm;
    }
  }

  .qtyAndPrice {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;

    .productView-price,
    .form-field--increments {
      margin-bottom: 0;
    }

    .price {
      font-family: $bebas-neue;
      font-size: $font-size-30;
    }
  }

  .form-increment {
    background: $light-grey;
    border-radius: $border-radius-full;
    color: $black;
    padding: 2px 7px;

    button {
      border: none;
      
      span {
        @include montserrat-regular;
        color: $black;
        font-size: $font-size-16;
      }
    }

    .form-input--incrementTotal {
      @include montserrat-regular;
      background: inherit;
    }
  }

  .productView-price {
    display: flex;
    flex-direction: row-reverse;
    align-items: baseline;

    .price--non-sale {
      font-size: $font-size-18;
      margin-left: 10px;
    }
  }
}