.scc-slider {
    .scc-slide {
        margin: 0px 10px;
    }
}
ul.scc-slider-wide {
    margin-left: 0;
}
.scc-slider-wide {
    background: $black;
    border-radius: $border-radius-sm;
    .scc-slide {
        border-radius: $border-radius-sm;
        margin: 0;
        img {
            width: 100%;
            height: 500px;
            object-fit: cover;
            border-radius: $border-radius-sm;
        }
        a {
            text-decoration: none;
        }
        h3 {
            text-align: center;
            color: $white;
            margin: 5px;
        }
    }
}

.home-project-card {
    display: block;
    position: relative;

    h3 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 300px;
        background: rgba($black, .1);
        text-align: center;
        border-radius: $border-radius-sm;
        backdrop-filter: blur(10px);
        padding: 20px 0;
        text-shadow: 3px 3px 5px rgba($black, .25);
        margin: 0 !important;
        font-size: 50px;
    }

    @media only screen and (max-width: 500px) {
        h3 {
            width: 200px;
            font-size: 35px;
        }
    }
}
.slick-next, .slick-prev {
	background-color: transparent;
	border: none; 
	height: 5rem;
	margin-top: 1rem;
	padding: 0.625rem;
	width: 2.5rem;
	z-index: 1;
}
.slick-next:hover, .slick-prev:hover {
    background-color: transparent;
	border: none; 
}